body{
    height: auto;
    margin: 0;
    background-color: black;
    overflow-wrap: break-word;
}
main{
    content: wrap;
    margin: auto;
    /* display: flex; */
    height: 94vh;
    /* border: 2px solid white; */
}
#landing{
    display: flex;
    flex-direction: row;
    height: 94vh;
    position: fixed;
}
/* #landing-text{
    height: 100vh;
} */
/* #landing-image{
    height: 100vh;
} */
#landing-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 94vh;
    display: flex;
    width: 60vw;
    /* width: 100%; */
    flex: 0 1 55vw;
}
#landing-text{
    /* border:2px solid white; */
    margin-left: 16px;
    height: 94vh;
    width: 40vw;
    display: flex;
    flex: 0 1 45vw;
    justify-content: left;
    padding-left: 1rem;
    padding-right: 1rem;
}
#landing-text-inner{
    height: 50vh;
    margin-bottom: auto;
}
#landing-text-inner i{
    margin-top: 30%;
    color: #fff;
}
h1{
    font-weight: 400;
    font-size: 55px;
    margin-top: 0%;
    width: 200%;
    color: #fff;
    font-family: 'lato',sans-serif;
    margin-top: 20%;
/*     text-overflow: clip; */
}
h2{
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    color: #fff;
    font-family: 'lato',sans-serif;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 5px;
}
.registerContainer{
    margin-top: 20px;
    width: 200%;
    text-align: left;
}
.registerContainer a{
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #15202b;
}
input[type="text"]:hover,
input[type="password"]:hover{
    border: 2px solid #0b86d3;
}
input[type="submit"]{
    background-color: #0b86d3;
    color: white;
    border: none;
    margin-bottom: 15px;
}
.registerContainer input[type="submit"]:hover{
    background-color: #0b86d3;
    transition: 0.15s ease-in-out;
}
.registerContainer input[type="submit"]:active{
    transform: scale(0.95);
}
.registerContainer input[type="text"]:focus,
input[type="password"]:focus, input[type="email"]:focus{
    outline: none;
}
.footer{
    width: 100%;
    display: flex;
    height: 6vh;
    align-content: flex-end;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 10%; */
}
.footer ul{
    list-style: none;
}
.footer li{
    display: inline-block;
    padding: 4px;
    margin: 2px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.footer a{
    text-decoration: none;
    color: rgb(136, 153, 166);
}
.footer p{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(136, 153, 166);
    font-size: 13px;
    font-weight: 400;
    margin: 2px;
    padding: 4px;
    display: inline-block;
}
.footer a:hover{
    text-decoration: underline;
}
